.checkout-layout {
    max-width: 1000px;
    margin: 30px;
}

.checkout-layout h3 {
    font-size: 0.5em;
    text-align: right;
}

.checkout-input {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 15px;
}

.checkout-container {
    max-width: 1000px;
}

.checkout-input > label {
    font-size: 1em;
}

.checkout-input > input {
    width: 200px;
    padding: 5px;
}

.checkout-first {
    display: flex;
    flex-direction: column;
}