.films {
    width: 1700px;
    margin: auto;
    padding: 30px;
}

.new-realises {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
}

.movie-selection {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14%;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    margin-bottom: 50px;
}

.movie-selection img {
    width: 200px;
    margin-right: 30px;
}
