.movie-specific {
    background: url("../css/Images/movie\ poster.png") no-repeat;
    background-size: cover;
    min-height: 50vh;
    position: relative;
}

.movie-specific-text{
    max-width: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.movie-images {
    width: 250px;
}

.movie-info {
    padding: 20px;
    text-align: left;
}

.movie-cast {
    max-width: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-cast-text {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;
    padding: 10px;
}

.movie-cast-text h2{
font-size: 1.3em;
}

.movie-cast-text h3{
    font-size: 0.8em;
    }

.trailer {
    max-width: 1000px;
    margin: auto;
}

.trailer img {
 width: 100%;
 height: auto;
 margin-bottom: 50px;
}